<section id="_instagram">
    <div class="container">
        <h3>FOLLOW & SHARE</h3>
        <h4>#cozinhas #cozinhaspl</h4>
        <div class="_lista-itens-instagram text-center">
            <div class="_item-insta p-0">
                <div class="mask-insta" style="background: url(assets/img/news1.jpg);" title="Figure Instagram">
                </div>
            </div>
            <div class="_item-insta p-0">
                <div class="mask-insta" style="background: url(assets/img/news1.jpg);" title="Figure Instagram">
                </div>
            </div>
            <div class="_item-insta p-0">
                <div class="mask-insta" style="background: url(assets/img/news1.jpg);" title="Figure Instagram">
                </div>
            </div>
            <div class="_item-insta p-0">
                <div class="mask-insta" style="background: url(assets/img/news1.jpg);" title="Figure Instagram">
                </div>
            </div>
            <div class="_item-insta p-0">
                <div class="mask-insta" style="background: url(assets/img/news1.jpg);" title="Figure Instagram">
                </div>
            </div>
            <div class="_item-insta p-0">
                <div class="mask-insta" style="background: url(assets/img/news1.jpg);" title="Figure Instagram">
                </div>
            </div>
            <div class="_item-insta p-0">
                <div class="mask-insta" style="background: url(assets/img/news1.jpg);" title="Figure Instagram">
                </div>
            </div>
            <div class="_item-insta p-0">
                <div class="mask-insta" style="background: url(assets/img/news1.jpg);" title="Figure Instagram">
                </div>
            </div>
            <div class="_item-insta p-0">
                <div class="mask-insta" style="background: url(assets/img/news1.jpg);" title="Figure Instagram">
                </div>
            </div>
            <div class="_item-insta p-0">
                <div class="mask-insta" style="background: url(assets/img/news1.jpg);" title="Figure Instagram">
                </div>
            </div>
        </div>
    </div>
</section>