<div class="container _404" style="background: var(--color-default-green); color: #fff">
    <div class="_404_body">
        <figure class="_logo">
            <a routerLink="">
                <img src="assets/img/logo.svg" alt="Logo Cozinhas PL">
            </a>
        </figure>
        <h1>404</h1>
        <h2>UH OH! You're lost.</h2>
        <p>The page you are looking for does not exist.
            How you got here is a mystery. But you can click the button below
            to go back to the homepage.
        </p>
        <a routerLink="" class="_call-to-action">Voltar para trás</a>
    </div>
</div>