<div class="container-fluid _border-bottom _padding ">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Página {{item}}</li>
        </ol>
    </nav>
</div>

<div class="_modulo-page">
    <!-- banner -->
    <div class="_modulo-banner">
        <div class="_content-width">
            <div class="_banner _content-width">
                <div class="d-table-cell align-middle">
                    <div class="_content-banner text-light text-center">
                        <h1 class="_title">Portfólio de projetos</h1>
                        <h2 class="_sbutitle">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- titulo + texto + botao -->
    <div class="_modulo-title-text-button" style="max-width: 800px;">
        <h2 class="_title">Portfólio de projetos</h2>
        <h2 class="_subtitle my-3">Importamos, distribuímos,revendemos e adaptamos produtos de energia para os diversos
            setores.</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
        <a routerLink="/" class="_have-bg ">Contacte-nos</a>
    </div>


    <!-- titulo + banner + texto  -->
    <div class="_modulo-title-banner-text" style=" max-width: 800px; margin: 0 auto;">
        <h2 class="_title">Portfólio de projetos</h2>
        <h2 class="_subtitle my-3">Importamos, distribuímos,revendemos e adaptamos produtos de energia para os diversos
            setores.</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
        <a routerLink="/" class="_have-bg ">Contacte-nos</a>
    </div>

</div>

<style>

</style>